*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: sans-serif;
}

body {
    height: 100vh;
    background-image: linear-gradient( to right, rgba(0, 247, 255, 0.938), #2cccff);
    display: flex;
    justify-content: center;
}

.wrapper{
    position: relative;
}


.wrapper h3{
    font-size: 50px;
    margin-block: 30px;
}

table, td, th{
    border: black 1px solid;
}

table {
    border-collapse: collapse;
}

td, th {
    padding: 10px;
    width: 200px;
}


input{
    width: 60px;
    height: 20px;
    font-size: 15px;
}



.search_box {
    padding-block: 10px;
    width: 140px;
    display: flex;
    font-weight: bold;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    background-color: white;
    margin-block: 20px;
}

.search_box i{
    margin-inline: 10px;
}

.result{
    margin-block: 100px;
    position: fixed;
}

.hide {
    visibility: hidden;
}


.list{
    width: 400px;
    position: fixed;
    top: 0;
    right: 0;
}


.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.error_mess i{
    font-size: 25px;
    margin-right: 10px;
}


.error_mess{
    height: 80px;
    font-size: 20px;
    color: #ECF0F1;
    border-radius: 5px;
    margin-block: 15px;
    margin-right: 10px;
    animation: show_slide 2s ease forwards;
}


.error_mess{
    border-left: red 5px solid;
    background-color: #F49091; 
}


.error_mess span{
    height: 5px;
    width: 100%;
    background-color: red;
    display: block;
    animation:countdown 4s linear forwards;
}


@keyframes countdown {
    20% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}


@keyframes show_slide {
	0% {
		transform: translateX(100%);
	}
	40% {
		transform: translateX(-10%);
	}
	80% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-10px);
	}
}

@keyframes hide_slide {
	0% {
		transform: translateX(-10px);
	}
	40% {
		transform: translateX(0%);
	}
	80% {
		transform: translateX(-10%);
	}
	100% {
		transform: translateX(120%);
	}
}
